body {
  text-align: center;
}
.products-container {
}
.product-card {
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 40vw;
  padding: 5px;
  margin: 5px auto;
  box-shadow: 0.2px 0.5px 1.5px grey;
}
.product-title {
  text-align: center;
}
img {
  width: 80px;
}
button {
  cursor: pointer;
}

button.active {
  border: 1px solid red;
}
