body {
  text-align: center;
}
.products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-width: 20vw;
  padding: 5px;
  margin: 5px auto;
  box-shadow: 0.2px 0.5px 1.5px grey;
}
.product-title {
  text-align: center;
}
img {
  width: 80px;
}
