div.parent {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5px);
  display: none;
  justify-content: center;
  align-items: center;
}

div.modal {
  width: 500px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
