.carousel-one-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* opacity: 0; */
  /* transform: translateX(100%); */
  /* transition: transform ease-in-out 4s; */
}

.right-image-show {
  display: inline;
  flex-grow: 1;
  /* transform: translateX(0%); */
  animation: showAnimation 1s ease-in-out forwards;
  /* opacity: 1 !important; */
}
.right-image-hide {
  /* flex-shrink: 0; */
  /* display: none; */
  /* transform: translateX(-300%); */
  animation: hideAnimation 1s ease-in-out forwards;
  /* opacity: 0; */
}

@keyframes showAnimation {
  from {
    opacity: 0;
    transform: translate(100%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes hideAnimation {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translate(-100%);
  }
}

.left-image-show {
  display: inline;
  flex-grow: 1;
  /* transform: translateX(0%); */
  animation: leftshowAnimation 1s ease-in-out forwards;
  /* opacity: 1 !important; */
}
.left-image-hide {
  /* flex-shrink: 0; */
  /* display: none; */
  /* transform: translateX(-300%); */
  animation: lefthideAnimation 1s ease-in-out forwards;
  /* opacity: 0; */
}

@keyframes leftshowAnimation {
  from {
    opacity: 0;
    transform: translate(-100%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}
@keyframes lefthideAnimation {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translate(100%);
  }
}

.image-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow-x: hidden;
}

.container {
  margin: 100px auto;
  width: 60%;
  position: relative;
  cursor: pointer;
}

.arrow-btn {
  position: absolute;
  background-color: rgba(144, 144, 144, 0.5);
  text-align: center;
  top: 50%;
  padding: 0.5rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  transform: translateY(-50%);
  z-index: 1;
}

.left-arrow-btn {
  left: 1rem;
}
.right-arrow-btn {
  right: 1rem;
}

.img-stepper {
  position: absolute;
  bottom: 2rem;
  background: rgba(144, 144, 144, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  left: 45%;
}
.stepper-icon {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(146, 146, 146);
  border-radius: 50%;
  border: none;
}
.current-step {
  background-color: white;
}
