.carousel,
.box {
  width: 80vw;
  min-width: 200px;
  height: 60vh;
  display: flex;
  margin: 10px auto;
  position: relative;
}

.box {
  width: 100%;
  margin: 40px;
  position: relative;
  overflow: hidden;
}

.app img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: 200px;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  transition: opacity 0.4s linear;
  opacity: 0;
}

.box img[isActive="true"] {
  opacity: 1;
}
.box img[isActive="false"] {
  opacity: 0;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  font-size: 32px;
  border: none;
  border-radius: 50%;
  text-align: center;
  background-color: aliceblue;
  opacity: 0.7;
  color: rgb(74, 74, 74);
}
button#left-btn {
  left: 22px;
}
button#right-btn {
  right: 18px;
}

/* STEPPER */
.stepper {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 15px;
  border: 1px solid rgba(139, 139, 139, 0.8);
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 5px;
  left: 45%;
}
.stepperDot {
  height: 10px;
  width: 10px;
  background-color: rgb(136, 136, 136);
  border-radius: 50%;
  cursor: pointer;
}
.focusDot {
  background-color: white;
}

/* ANIMATED IMAGE SLIDING */

.show {
  animation: showAnimation 1s ease-in-out forwards;
  opacity: 1 !important;
}
.hide {
  animation: hideAnimation 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes showAnimation {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes hideAnimation {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
