body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GRID LIGHTS */
div.grid-light-box {
  width: 50vw;
  height: 50vh;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.light-cube {
  text-align: center !important;
  width: 100%;
  height: 100% !important;

  border: 1px solid white;
  background-color: aqua;
}

.off-bg {
  background-color: antiquewhite;
}

.on-bg {
  background-color: brown;
}

/* ACCORDION */
.accord-parent {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  justify-content: center;
}

.accord-card {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}
