* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* GRID LIGHTS */
div.grid-light-box {
  width: 50vw;
  height: 50vh;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.light-cube {
  text-align: center !important;
  width: 100%;
  height: 100% !important;

  border: 1px solid white;
  background-color: aqua;
}

.off-bg {
  background-color: antiquewhite;
}

.on-bg {
  background-color: brown;
}

/* ACCORDION */
.accord-parent {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  justify-content: center;
  gap: 2px;
}

.accord-card {
  border: 1px solid grey;
  border-radius: 6px;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  transition: all 10s linear;
  /* padding: 8px; */
}

button.accord-title-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  text-align: left;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(227, 227, 227);
}

.accord-content {
  background-color: rgb(248, 248, 248);
  padding: 10px;
}

/* MODAL */
.modal-wrapper{
  
}
.modal-container {
  position: fixed;
  border: 1px solid black;
  padding: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
